<launch>
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">

        <param name ="resolution" value="0.1" />
        <param name = "frame_id" type="str" value="robot_foot_init" />
        <param name = "sensor_model/max_range" value="1000.0" />
        <param name = "latch" value="true" />
        <!-- Unconditional 2D projection: always publish projected 2D map from 3D octomap -->
        <param name = "project_2d" value="true" />

        <remap from ="cloud_in" to="/cloud_registered" />
    </node>
</launch>